---
layout: page
title: Projects
name: projects
---

<h1>{{ page.title }}</h1>

<h2>Personal projects</h2>

<h3>Github projects</h3>

<div id="github-repos">
  Loading...

  <script id="github-repo-template" type="text/template">
    <div class="repo">
      <h4><a href="<%- html_url %>"><%- name %></a></h4>
      <div><%- description %></div>
      <div>
        <small>
          <% if (watchers_count > 1 || forks_count > 1) { %>
            <%- pluralize(watchers_count, 'star', 'stars') %>,
            <%- pluralize(forks_count, 'fork', 'forks') %>.
          <% } %>
          <% if (language) { %>
            Written mostly in <%- language %>.
          <% } %>
          Last updated <%- new Date(updated_at).toLocaleDateString() %>.
        </small>
      </div>
    </div>
  </script>

</div>


<h3>Github gists</h3>

<div id="github-gists">
  Loading...

  <script id="github-gist-template" type="text/template">
    <div class="repo">
      <h4><a href="<%- html_url %>"><%- GIST_NAME %></a></h4>
      <div><%- description %></div>
      <div>
        <small>Last updated <%- new Date(updated_at).toLocaleDateString() %>.</small>
      </div>
    </div>
  </script>

</div>


<h3>Bitbucket projects</h3>

<p>
  I mostly use Github for personal stuff now, but I still have a couple Bitbucket repos.
</p>

<div id="bitbucket-repos">
  Loading...

  <script id="bitbucket-repo-template" type="text/template">
    <div class="repo">
      <h4><a href="<%- 'https://bitbucket.org/'+owner+'/'+slug %>"><%- name %></a></h4>
      <div><%- description %></div>
      <div>
        <small>
          <% if (language) { %>
            Written mostly in <%- language %>.
          <% } %>
          Last updated <%- new Date(utc_last_updated).toLocaleDateString() %>.
        </small>
      </div>
    </div>
  </script>

</div>


<h2>Professional projects</h2>

Rather than duplicate the info and links, please take a look at
<a href="/cv/">my résumé</a> for stuff about professional work.

<script src="projects.js"></script>
