  <footer class="text-right">
    <small>
      <a href="https://plus.google.com/112228900913862544865?rel=author">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
        Google+
      </a>
    </small>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <script src="/assets/js/vendor/bootstrap.min.js"></script>
  <script src="/assets/js/socialshareprivacy/jquery.socialshareprivacy.min.js"></script>

  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/utils.js"></script>
  <script src="/assets/js/main.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-34001925-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
