<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">{{ site.titleprefix }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.name == link.name %}
              {% assign current = 'active' %}
            {% endif %}

            <li class="{{ current }}">
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
