{{ define "main" }}
<section>
  <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  <h5 class="text-end"> {{ .Date.Format "January 2, 2006" }} </h5>
  <div>
        <article>
           {{ .Content }}
        </article>
  </div>
</section>
<hr>
<aside>
  <p>
    <h5> {{ .WordCount | lang.FormatNumber 0 }} Words </h5>
  </p>

  <p>
    Last Update:
    <time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}" class="text-muted">
      {{ $.Page.Lastmod.Format "January 02, 2006" }}
    </time>
    <br>
    <a href="https://github.com/adam-p/adam-p.github.com/commits/master/content/{{ $.Page.GetIdentity.Path }}">See revision history</a>
  </p>  

  {{ if .Params.tags }}
  <p>
    <h5>Tags</h5>
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | relURL }}/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </p>
  {{ end }}

  <p>
    {{ with .NextInSection }}
        Next: <a class="next" href="{{.RelPermalink}}"> {{.Title}}</a>
    {{ end }}
    <br>
    {{ with .PrevInSection }}
      Previous: <a class="previous" href="{{.RelPermalink}}"> {{.Title}}</a>
    {{ end }}
  </p>
</aside>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
