---
layout: page
title: Blog
name: blog
---

<div class="row-fluid">
  <div class="span12 text-right">
    <a href="https://feeds.feedburner.com/adam-p-blog">RSS/Atom</a>
  </div>
</div>

<h1>Blog Posts</h1>


{% for post in site.categories.blog %}
  {% if post.published %}
    <hr>
    <div class="row-fluid">
      <div class="span12 post-excerpt">
        <div class="post-specs">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <div>
            {{ post.date | date: "%Y-%m-%d" }}
          </div>
          <!--
          <div>
            tags: {{ post.tags | join: ", " }}
          </div>
          -->
        </div>

        <div class="post-body">
          <div>
            {{ post.content | truncatewords: 150 }}
          </div>
            <div class="overflow-fade text-right">
              <h1><a href="{{ post.url }}">&gt;&gt;&gt;</a></h1>
            </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
