---
layout: page
title: Blog
name: blog
---

<blink>IN PROGRESS. NO ACTUAL POSTS YET.</blink>

<h1>Blog Posts</h1>

{% for post in site.posts %}
  {% if post.published %}
    <div class="row-fluid">
      <div class="span12 post-excerpt">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <div>
          {{ post.date | date: "%Y-%m-%d" }}
        </div>
        <div>
            category: {{ post.category }}
        </div>
        <div class="body">
          <div>
            {{ post.content | truncatewords: 100 }}
          </div>
          <div class="overflow-fade"></div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
