---
layout: none
---

{% include header.html %}

  {% include nav.html %}

  <div id="cvNavbar" class="scrollspy-nav visible-desktop navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
              <li class="active">
                <a href="#shipped">Projects</a>
              </li>
              <li>
                <a href="#skills">Skills</a>
              </li>
              <li>
                <a href="#experience">Experience</a>
              </li>
              <li>
                <a href="#education">Education</a>
              </li>
              <li>
                <a href="#interests">Interests</a>
              </li>
              <li>
                <a href="#links">Links</a>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


  <div class="container-fluid">
    {{ content }}
  </div>

{% include footer.html %}
