---
layout: none
---

{% include header.html %}

  {% include nav.html %}

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12 post-head">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p>
          {{ page.date | date: "%Y-%m-%d" }} by {{ site.myfullname }}
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        {{ content }}
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <p>
          <a href="{{ page.url }}">permalink</a>
        </p>
        <!--
        <p>
          tags: {{ page.tags | join: ", " }}
        </p>
        -->
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 comments">
        {% include comments.html %}
      </div>
    </div>

  </div><!-- container-fluid -->

{% include footer.html %}
